.mainText-content{
    
  
    flex-direction: column;
    padding: 20px;
    margin: 20px;
    background-color: #302e2e;
    border-radius: 22px;
    margin-top: 100px;
    display: flex;
 

}
.mainText-content>h1{
    color: #ffffff;
    font-size:32px;
    font-weight: bold;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.recipe-card>img{
    width: 100%;
    object-fit: cover;
    border-radius: 22px;
}
 
 
.recipe-card>p{
    color: hsla(22, 100%, 83%, 0.829);
    font-size: 24px;
    font-family: monospace;
    padding: 20px;
}

.receipe-title{
    color: #ffffff;
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   

}

.recipe-card-group{
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin-top: 10px;
    background-color: #302e2e;
    border-radius: 22px;
   
}
.card-body{
    margin:10px;
}
.card-body>h2{
    color: #fca864;
    font-size: 24px;
    font-family: serif;
   
}

.card-body>.body{
    background-color: #201f1f;
    color: #ffffff;
    font-size: 18px;
    padding: 20px;
    border-radius: 22px;

}
.body>img{
    width: 40%;
    object-fit: cover;
    border-radius: 22px;

}
.Ingredients-text>li{
    color: #ffffff;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px;
    text-wrap: wrap;
}

.Instruction-text>li{
    color: #ffffff;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, 
Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px;
    text-wrap: wrap;
    list-style: decimal;
}

.body>h2{
    color: #72ff95;
    font-family: Arial, Helvetica, sans-serif; 
    text-decoration: dotted;
    border: 3px solid #4b4b4b;
    padding: 10px;
    border-radius:  11px;
    border-top: rgb(0, 0, 0);
    
}
   
   
   
   
   
   
